{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Profile</h1>
        <h3>Current Profile Info:</h3>
        <h4>Username: {{ user }}</h4>
        <h4>Email: {{ user.email }}</h4>
        <h4>First Name: {{ user.first_name }}</h4>
        <h4>Last Name: {{ user.last_name }}</h4>
        <form method="post">
            {#            {% for item in form %}#}
            {% csrf_token %}
            {{ form }}
            {#                {{ item.label }}#}
            {#                {{ item }}#}
            <br>
            {#            {% endfor %}#}

            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </form>
    </div>
    <br>

{% endblock %}