{% extends "base.html" %}
{% load static %}

<head>
    {# javascript #}
    <script type="text/javascript" src="{% static "events/JS.js" %}"></script>
    {# Vue.js CDN #}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- jQuery for PayPal -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block head %}
        <title>Event Registration</title>
    {% endblock %}


</head>
{% block body %}
    <div id="app">
        <div class="container" style="background-color: #ffe673; padding: 15px; border-radius: 5px">
            <div id="jumbotron" class="jumbotron" style="padding: 20px">
                <h1 style="text-align: center">{{ event }} Registration</h1>
            </div>
            <div id="jumbotron" class="jumbotron" style="padding: 20px">
                <input style="text-align: center">[[shirt.size]]</input>

{#                      shirt:{#}
{#                          price: {{ event.shirt_cost }},#}
{#                          size: 'lrg',#}
{#                          qty: 3#}
{#                    },#}

            </div>

            <div>
                <form method="POST" id="feedbackform" v-on:keydown.13.prevent="the3DayMethod">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <div style="margin-right: 15px;" class="row">
                        <div v-for="form in formList">
                            <h2 style="text-align: center" class="">Rider Registration Form [[count+1]]</h2>
                            <div style="background-color: #ffe673; padding: 20px; border-radius:5px; margin: 0px 15px 0px 15px"
                                 v-html="form">
                            </div>
                        </div>
                        <br>
                        <div class="container" style="padding: 0px 30px 0px 30px">
                            <div class="row">
                                <div v-on:click="addForm" class="btn btn-primary btn-lg col-sm-5 ">Add Another Rider
                                </div>
                                <div v-on:click="formID" style="float: right" class="btn btn-primary btn-lg col-sm-5">
                                    Remove Last Rider
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <button v-on ref="submitButton" style='display: none'></button>
                </form>
            </div>
            <br>
        </div>
        <div class="sk-rotating-plane"></div>
        <br>
        <div class="container"
             style="background-color: #ffe673; padding: 0px 0px 15px 0px; border-radius: 5px; text-align: center; margin-top: 10px;">
            <div v-if="formSuccess === false" class="p-3 mb-2 bg-danger text-white">
                <h3>Please correct these errors:</h3>
                <div id="v-for-formerrors">
                    <div v-for="(value, index, key) in formerrors">
                        <h4>Rider Form:[[ ++index ]] - [[value]]</h4>
                    </div>
                </div>
            </div>

            <div v-show="showcheckout" class="container">
                <h3>**You'll need an AMA Membership to ride the event. Save waiting in line at the event and join
                    <a href="http://www.americanmotorcyclist.com/membership/join" target="_blank">online!</a>
                </h3>
                <br>
                <div>
                    <h3>Raincheck:
                        <input style="width: 25%" v-model="discountCode" type="text" name="discount_code"
                               placeholder="Raincheck Code">
                    </h3>
                </div>
            </div>
            <br>
            <h3>Total: $[[regTotal]]</h3>
            <div v-on:click="the3DayMethod" class="btn btn-lg btn-primary" value="Checkout">Checkout</div>
        </div>
        <br>

        <transition id="modal" v-if="showModal" name="appear">
            <div class="simple-modal" v-if="formSuccess">
                <h1 style="color: whitesmoke;">Registering for {{ event }}</h1>
                {#                <h1 style="color: whitesmoke;">You are registering:</h1>#}
                {#                <h3 v-for="item in allRiderTypes" style="color: whitesmoke;">[[item]]</h3>#}
                {#                <br>#}
                {# start of the merch table#}
                {% if event.hat or event.hoodie or event.shirt %}
                    <h3 style="color: whitesmoke;">Don't be left out!</h3>
                    <br>
                    {% if event.hoodie %}
                        {# hoodie start #}
                        <div class="row">
                            <div class="col-sm-7"><img src="{% static event.hoodie_image_file_name %}"
                                                       style="width: 300px; height: 250px">
                                <h4 style="color: whitesmoke;" class="center">{{ event.hoodie_main_description }}</h4>
                                <h4 style="color: whitesmoke;" class="center">{{ event.hoodie_sub_description }}</h4>
                            </div>
                            <div class="col-sm-5">
                                <div>
                                    <table class="table text-center" style="padding-right: 20px;">
                                        <tr>
                                            <th style="color: #ffe673; text-align: center; width: 50px;">
                                                <input style="width: 40px;" type="checkbox" checked disabled="true">
                                            </th>
                                            <th style="color: #ffe673; text-align: center;">SIZE</th>
                                            <th style="color: #ffe673; text-align: center;">QUANTITY</th>
                                            <th style="color: #ffe673; text-align: center;">COST</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input style="width: 40px;" type="checkbox" v-model="hoodiesml">
                                            </td>
                                            <td>
                                                <label style=" color: white">Small</label>
                                            </td>
                                            <td v-if="hoodiesml" style="vertical-align: center"><input
                                                    v-model='hoodiesmlqty'
                                                    style="text-align: center; max-width: 40px"
                                                    type="number" min="0"
                                                    step="1" value="0">
                                            </td>
                                            <td v-else="hoodiesml">
                                                <div style="text-align: center; max-width: 40px"></div>
                                            </td>
                                            <td><h4 style="color: whitesmoke;">$[[hoodieCost]]</h4></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {# end hoodie #}
                    {% endif %}
                    <br>
                    {% if event.shirt %}
                        {# shirt start #}
                        <div class="row">
                            <div class="col-sm-7"><img src="{% static event.shirt_image_file_name %}"
                                                       style="width: 300px; height: 250px">
                                <h4 style="color: whitesmoke;" class="center">{{ event.shirt_main_description }}</h4>
                                <h4 style="color: whitesmoke;" class="center">{{ event.shirt_sub_description }}</h4>
                            </div>
                            <div class="col-sm-5">
                                <div>
                                    <table class="table text-center" style="padding-right: 20px;">
                                        <tr>
                                            <th style="color: #ffe673; text-align: center; width: 50px;">
                                                <input style="width: 40px;" type="checkbox" checked disabled="true">
                                            </th>
                                            <th style="color: #ffe673; text-align: center;">SIZE</th>
                                            <th style="color: #ffe673; text-align: center;">QUANTITY</th>
                                            <th style="color: #ffe673; text-align: center;">COST</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input style="width: 40px;" type="checkbox" v-model="shirtsml">
                                            </td>
                                            <td>
                                                <label style=" color: white">Small</label>
                                            </td>
                                            <td v-if="shirtsml" style="vertical-align: center"><input
                                                    v-model='shirtsmlqty'
                                                    style="text-align: center; max-width: 40px"
                                                    type="number" min="0"
                                                    step="1" value="0">
                                            </td>
                                            <td v-else="shirtsml">
                                                <div style="text-align: center; max-width: 40px"></div>                    objhoodie:{
                      shirt:{
                          price: {{ event.shirt_cost }},
                          size: ['sml', 'med', 'lrg'],
                          qty: 3
                      }
                    },
                                            </td>
                                            <td><h4 style="color: whitesmoke;">$[[shirtCost]]</h4></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {# end shirt #}
                    {% endif %}
                    <br>
                    {% if event.hoodie %}
                        {# hat start #}
                        <div class="row">
                            <div class="col-sm-7"><img src="{% static event.hat_image_file_name %}"
                                                       style="width: 300px; height: 250px">
                                <h4 style="color: whitesmoke;" class="center">{{ event.hat_main_description }}</h4>
                                <h4 style="color: whitesmoke;" class="center">{{ event.hat_sub_description }}</h4>
                            </div>
                            <div class="col-sm-5">
                                <div>
                                    <table class="table text-center" style="padding-right: 20px;">
                                        <tr>
                                            <th style="color: #ffe673; text-align: center; width: 50px;">
                                                <input style="width: 40px;" type="checkbox" checked disabled="true">
                                            </th>
                                            <th style="color: #ffe673; text-align: center;">SIZE</th>
                                            <th style="color: #ffe673; text-align: center;">QUANTITY</th>
                                            <th style="color: #ffe673; text-align: center;">COST</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input style="width: 40px;" type="checkbox" v-model="hatsml">
                                            </td>
                                            <td>
                                                <label style=" color: white">Small</label>
                                            </td>
                                            <td v-if="hatsml" style="vertical-align: center"><input
                                                    v-model='hatsmlqty'
                                                    style="text-align: center; max-width: 40px"
                                                    type="number" min="0"
                                                    step="1" value="0">
                                            </td>
                                            <td v-else="hatsml">
                                                <div style="text-align: center; max-width: 40px"></div>
                                            </td>
                                            <td><h4 style="color: whitesmoke;">$[[hatCost]]</h4></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {# end hat #}
                    {% endif %}
                    <br>
                    <div style="text-align: center;">
                        <div style="background-color: #ffe673; height: 5px;"></div>
                        <h3 style="color: whitesmoke;">Registration: [[regTotal]]</h3>
                        <h3 style="color: whitesmoke;">Merchendise: [[merchTotal]]</h3>
                        <h3 style="color: whitesmoke;">Grand Total: [[amountStr]]</h3>
                    </div>

                {% else %}
                    <div style="text-align: center; ">
                        <h3 style="color: whitesmoke;">Registration Total:</h3>
                        <h3 style="color: whitesmoke;">$[[regTotal]]</h3>
                    </div>
                {% endif %}

                <br>
                <button class="btn btn-lg btn-primary" type="button" @click="showModal = false">[[ closeModal ]]
                </button>
                <div class="row">
                    <div class="alert alert-warning" role="alert" v-show="payment_cancelled">The payment was declined or
                        canceled
                    </div>
                </div>
                <div v-show="showPayPal">
                    <paypal-checkout
                            :amount='amountStr'
                            currency="USD"
                            :button-style="aStyle"
                            :client="paypal"
                            env="production"
                            v-on:payment-authorized="paymentAuthorized"
                            v-on:payment-completed="paymentCompleted"
                            v-on:payment-cancelled="paymentCancelled">
                    </paypal-checkout>
                </div>
                <div class="whirlpool" v-show="!showPayPal">
                    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                                r="30"></circle>
                    </svg>
                </div>
            </div>
        </transition>
    </div>
    </div>
    <script src="https://unpkg.com/vue-paypal-checkout/dist/vue-paypal-checkout.min.js"></script>
    <script>

        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data() {
                return {
                    paypal: {
                        sandbox: 'AYgwz1PZCp41wgIFot5Yg4e8qtx3uVzxxIFOyul4r8GIvW87mymJ7_khNL_F3L3XlBEasHbjncJ7485W',
                        production: 'AS_Jx2PoYa86AlHKjRhEff5F5jE_EEZquzJ_uaqxQHEuhU2MtUilTqbGuBxHwDpQ8O_giK9r-LQDdx_h'
                    },
                    aStyle: {
                        label: 'checkout',
                        size: 'large',
                        shape: 'rect',
                        color: 'blue',
                        tagline: 'false'
                    },
                    amountStr: "0.00",
                    formList: [],
                    count: 0,
                    vue_form: "",
                    formIsValid: false,
                    paymentComplete: false,
                    formerrors: {},
                    formSuccess: '',
                    payment_cancelled: false,
                    showcheckout: false,
                    showModal: false,
                    closeModal: "Cancel",
                    showPayPal: true,
                    discountCode: '',
                    allRiderTypes: "None",
                    regTotal: 0.00,
                    overallTotal: 0.00,

                    merchTotal: "0.00",

                    {#need to learn about abjiects#}
                      shirt:{
                          price: {{ event.shirt_cost }},
                          size: ['sml', 'med', 'lrg'],
                          qty: 3
                    },



                    hoodieCost: {{ event.hoodie_cost }},
                    shirtCost: {{ event.shirt_cost }},
                    hatCost: {{ event.hat_cost }},

                    hoodiesml: false,
                    hoodiemed: false,
                    hoodielrg: false,
                    hoodiexlrg: false,
                    hoodiexxlrg: false,

                    hoodiesmlqty: 0,
                    hoodiemedqty: 0,
                    hoodielrgqty: 0,
                    hoodiexlrgqty: 0,
                    hoodiexxlrgqty: 0,

                    hoodiesmltot: 0,
                    hoodiemedtot: 0,
                    hoodielrgtot: 0,
                    hoodiexlrgtot: 0,
                    hoodiexxlrgtot: 0,

                    shirtsml: false,
                    shirtmed: false,
                    shirtlrg: false,
                    shirtxlrg: false,
                    shirtxxlrg: false,

                    shirtsmlqty: 0,
                    shirtmedqty: 0,
                    shirtlrgqty: 0,
                    shirtxlrgqty: 0,
                    shirtxxlrgqty: 0,

                    shirtsmltot: 0,
                    shirtmedtot: 0,
                    shirtlrgtot: 0,
                    shirtxlrgtot: 0,
                    shirtxxlrgtot: 0,

                    hatsml: false,
                    hatmed: false,
                    hatlrg: false,
                    hatxlrg: false,
                    hatxxlrg: false,

                    hatsmlqty: 0,
                    hatmedqty: 0,
                    hatlrgqty: 0,
                    hatxlrgqty: 0,
                    hatxxlrgqty: 0,

                    hatsmltot: 0,
                    hatmedtot: 0,
                    hatlrgtot: 0,
                    hatxlrgtot: 0,
                    hatxxlrgtot: 0,
                }
            },
            watch: {


                paymentComplete() {
                    this.$refs.submitButton.click();
                },

                hoodiesml() {
                    let app = this
                    if (app.hoodiesml === false) {
                        app.hoodiesmlqty = 0
                        console.log('hoodiesml qty set to 0')
                    }

                    else if (app.hoodiesml === true) {
                        app.hoodiesmlqty = 1
                    }
                },

                hoodiesmlqty() {
                    let app = this
                    let tot = 0
                    tot = app.hoodiesmlqty * app.hoodieCost
                    app.hoodiesmltot = tot
                    console.log('some hoodiesmlqty changed ' + tot)
                    app.merchtotal()
                },


                hatsml() {
                    let app = this
                    if (app.hatsml === false) {
                        app.hatsmlqty = 0
                        console.log('hatsml qty set to 0')
                    }

                    else if (app.hatsml === true) {
                        app.hatsmlqty = 1
                    }
                },

                hatsmlqty() {
                    let app = this
                    let tot = 0
                    tot = app.hatsmlqty * app.hatCost
                    app.hatsmltot = tot
                    console.log('some hatsmlqty changed ' + tot)
                    app.merchtotal()
                },

                shirtsml() {
                    let app = this
                    if (app.shirtsml === false) {
                        app.shirtsmlqty = 0
                        console.log('shirtsml qty set to 0')
                    }

                    else if (app.shirtsml === true) {
                        app.shirtsmlqty = 1
                    }
                },

                shirtsmlqty() {
                    let app = this
                    let tot = 0
                    tot = app.shirtsmlqty * app.shirtCost
                    app.shirtsmltot = tot
                    console.log('some shirtsmlqty changed ' + tot)
                    app.merchtotal()
                },

                formSuccess() {
                    if (this.formSuccess === true) {
                        this.showModal = true
                    }
                },
            },

            methods:
                {
                    merchtotal: function () {
                        let app = this
                        let tot = 0.00
                        let merchtot = 0
                        merchtot = app.hoodieCost * app.hoodiesmlqty
                        app.merchTotal = Number(merchtot).toFixed(2)
                        app.overallTotal = Number(app.merchTotal) + Number(app.regTotal)
                        app.amountStr = app.overallTotal
                        tot = app.overallTotal
                        app.amountStr = tot.toFixed(2)
                        console.log(app.amountStr)
                    },

                    the3DayMethod: function () {
                        let app = this
                        app.formSuccess = ''
                        var object = {}
                        forms = document.getElementById('feedbackform')

                        var formData = new FormData(forms),
                            result = {};
                        for (var entry of formData.entries()) {
                            result[entry[0]] = entry[1];
                        }
                        data = JSON.stringify(result)
                        axios.post("{% url 'error_checking' %}",
                            data,
                            {
                                headers:
                                    {
                                        'X-CSRFToken': '{{ csrf_token }}',
                                    }
                            }
                        )
                            .then(function (response) {
                                app.formerrors = response.data.errors
                                app.formSuccess = response.data.success
                            })
                    },

                    totalCost: function () {
                        let total_rider_classes = document.querySelectorAll('select[id*="rider_class"]')
                        let total = 0
                        let allRiderTypes = []
                        this.allRiderTypes = allRiderTypes

                        for (let i = 0; i < total_rider_classes.length; i++) {
                            allRiderTypes.push(total_rider_classes[i].value)
                            console.log(allRiderTypes)
                        }

                        for (let i = 0; i < allRiderTypes.length; i++) {
                            if (allRiderTypes[i].includes('Escort')) {
                                total +=
                                {{ event.escort_rider_cost }}

                            } else if (allRiderTypes[i].includes('Class')) {
                                total +=
                                {{ event.class_60_and_class_70_cost }}

                            } else if (allRiderTypes[i].includes('Amateur 16')) {
                                total +=
                                {{ event.amateur_under_16_cost }}

                            } else if (allRiderTypes[i].includes('Amateur over')) {
                                total +=
                                {{ event.amateur_over_16_cost }}

                            } else if (allRiderTypes[i].includes('Expert 16')) {
                                total +=
                                {{ event.expert_under_16_cost }}

                            } else if (allRiderTypes[i].includes('Expert over')) {
                                total +=
                                {{ event.expert_over_16_cost }}
                            }
                        }
                        this.regTotal = total.toFixed(2)
                        this.showcheckout = true

                    },

                    addForm: function () {
                        this.count++
                        let form_count = this.count
                        form_count++

                        let formID = 'id_form-' + this.count
                        incremented_form = this.vue_form.replace(/form-\d/g, 'form-' + this.count)
                        this.formList.push(incremented_form)
                        this.$nextTick(() => {
                            let total_forms = document.getElementsByName('form-TOTAL_FORMS').forEach
                            (function (ele, idx) {
                                ele.value = form_count
                            })
                        })
                    },

                    delForm: function () {
                        if (this.count != 0) {
                            this.count--
                            let form_count = this.count
                            form_count++

                            let formID = 'id_form-' + this.count
                            this.formList.pop()
                            this.$nextTick(() => {
                                let total_forms = document.getElementsByName('form-TOTAL_FORMS').forEach
                                (function (ele, idx) {
                                    ele.value = form_count
                                })
                            })
                        }
                        else return
                    },

                    formID: function () {
                        let formID = 'id_form-' + this.count
                        this.delForm()
                    },

                    add_rider_type: function () {
                        this.paypalItems.push({"name": ""})
                    },

                    paymentAuthorized: function (data) {
                        this.showPayPal = false
                    },

                    paymentCompleted: function (data) {
                        this.paymentComplete = true
                    },

                    paymentCancelled: function (data) {
                        this.payment_cancelled = false
                        this.payment_cancelled = true
                        this.showPayPal = true
                    },

                    select_change: function (e) {
                        var id = e.id
                        document.getElementById(id).onchange = function (e) {
                            totalCost()
                        }
                    }
                },


            mounted:

                function () {
                    let app = this

                    axios.post("{% url 'event_formset' %}",
                        {processData: false, contentType: false, event: '{{event}}'},
                        {
                            headers:
                                {
                                    'X-CSRFToken': '{{ csrf_token }}',
                                    'event': '{{ event }}',
                                }
                        }
                    )

                        .then(function (response) {
                            app.vue_form = response.data.formset
                            app.formList.push(app.vue_form)
                        })
                },
        })

    </script>
    <script>
        function select_change(e) {
            var id = e.id
            document.getElementById(id).onchange = function (e) {
                app.totalCost()
            }
        }

    </script>

{% endblock %}


