{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Event Registration Confirmation</title>
{% endblock %}

{% block body %}
    <div class="container" style="padding: 15px; border-radius: 5px">
        <h1>Congrats!</h1>
        <h3>You've been registered for {{ event.event_name }}</h3>
        <br>
        {% for key, item in confirm.items %}
            {% if item.message %}
                <h4 style="color: orangered">Attention: {{ item.message }}</h4>
            {% endif %}
            <h4>Rider: {{ item.first_name }} {{ item.last_name }}</h4>
            <h4>Confirmation: {{ item.confirmation }}</h4>
            <h4>Class: {{ item.rider_class }}</h4>
            <h4>Email: {{ item.email }}</h4>
            <br>
            <h4>If you would like to purchase event merchandise check it out on our <a href="/merchandise/"
                                                                                       target="_blank">merchandise</a>
                page</h4>
            <h4>For assistance please email us at <a href="mailto:lobomcsevents@gmail.com" target="_blank">lobomcsevents@gmail.com</a>
            </h4>
            <h4>To check your registration status go to our <a href="http://www.lobosevents.com/registration_check/"
                                                               target="_blank">registration confirmation</a> page, or at
                the top of the<a href="http://www.lobosevents.com/" target="_blank"> LobosEvents.com</a> main page.
            </h4>
            <br>
        {% endfor %}
    </div>

{% endblock %}