{% extends "base.html" %}
{% load static %}

<head>

    {# jQuery #}
    <script type="text/javascript" src="{% static "events/add_form_script.js" %}"></script>
    {# Vue.js CDN #}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- jQuery for PayPal -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    {% block head %}
        <title>Event Registration</title>
    {% endblock %}
</head>
{% block body %}
    <div id="app">
        <div class=container>
            <div class="jumbotron">
                <h1>{{ event }}</h1>
                <p>A little history about the event here</p>
                <p>Maybe a notice</p>
                <p>Date</p>
                <p>Location</p>
            </div>
            <div id="log"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <form class="form-horizontal" method="POST" action="">
                            {% csrf_token %}
                            {{ formset.management_form }}

                            {% if errors %}
                                {% for error in errors %}
                                    <div class="p-3 mb-2 bg-danger text-white">
                                        <h4>{{ error }}</h4>
                                    </div>
                                {% endfor %}

                            {% endif %}
                            <div style="background-color: black; padding: 20px 60px 20px 60px; margin-right: 15px;"
                                 class="row form-row">
                                <div class="input-group">
                                    <div v-for="form in formList">
                                        <br>
                                        <div style="background-color: #ffe673; padding: 20px" v-html="form">
                                        </div>
                                    </div>
                                    <div style="padding-left: 60px; background-color: black">
                                        <p v-on:click="addForm" class="btn btn-primary btn-lg">Add Form</p>
                                        <p v-on:click="formID" class="btn btn-primary btn-lg">Delete Form</p>
                                        <p v-on:click="totalCost" class="btn btn-primary btn-lg">Total Cost</p>

                                    </div>

                                    <br>

                                    <br>
                                </div>
                            </div>
                            <div style="margin: 0px 15px 100px -15px; padding: 0px 0px 60px 60px; background-color: black">
                                <button type="submit" class="btn btn-primary btn-lg">Finish Registration</button>
                                <div class="btn btn-primary btn-lg">
                                    <paypal-checkout
                                            :amount='amountStr'
                                            currency="USD"
                                            :button-style="aStyle"
                                            :client="paypal"
                                            env="sandbox"
                                            v-on:payment-authorized="paymentAuthorized"
                                            v-on:payment-completed="paymentCompleted"
                                            v-on:payment-cancelled="paymentCancelled">
                                    </paypal-checkout>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-offset-7 col-sm-5 col-md-5 col-lg-4"
                         style="position: fixed; top: 520px; left: 100px; width: auto;">
                        <div>
                            <h3>Total Price:</h3>
                            <h3>$ [[amountStr]]</h3>
                            <br>
                            <paypal-checkout
                                    :amount="amountStr"
                                    currency="USD"
                                    :button-style="aStyle"
                                    :client="paypal"
                                    env="sandbox"
                                    v-on:payment-authorized="paymentAuthorized"
                                    v-on:payment-completed="paymentCompleted"
                                    v-on:payment-cancelled="paymentCancelled">
                            </paypal-checkout>
                            <br>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue-paypal-checkout/dist/vue-paypal-checkout.min.js"></script>
    <script>


        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data() {
                return {
                    paypal: {
                        sandbox: 'Ab1Sz1kGg_pToL-VqcaNqUh1C4obLl11btkrD3nShf8FadP5sDn47sNiLVA7mHeWQKN9Fn14tMorYSag',
                        production: 'Aa2EMwpfZC-RkwuYd5FjEsuw5XOkYVmTk3K4GTJ1kTcMTuC5J2yV0mjhlua6mJg7Uf26YzPrMaCcixPT'
                    },
                    aStyle: {
                        label: 'checkout',
                        size: 'responsive',
                        shape: 'pill',
                        color: 'blue',
                        tagline: 'false'
                    },


                    escortCost: 10.00,
                    riderCost: 70.00,
                    amountStr: '0.00',
                    formList: [],
                    count: 0,
                    vue_form: "",

                }
            },
            methods:
                {


                    totalCost: function () {
                        let total_rider_classes = document.querySelectorAll('select[id*="rider_class"]')
                        console.log('in the foo')
                        let total = 0
                        let allRiderTypes = []

                        for (let i = 0; i < total_rider_classes.length; i++) {
                            allRiderTypes.push(total_rider_classes[i].value)
                        }

                        for (let i = 0; i < allRiderTypes.length; i++) {
                            if (allRiderTypes[i] !== 'Escort Rider') {
                                total += this.riderCost

                            } else {
                                console.log('in the else')
                                total += this.escortCost
                            }
                        }
                        console.log(total)
                        this.amountStr = String(total.toFixed(2))

                    },

                    addForm: function () {
                        this.count++
                        let form_count = this.count
                        form_count++

                        let formID = 'id_form-' + this.count
                        incremented_form = this.vue_form.replace(/form-\d/g, 'form-' + this.count)
                        this.formList.push(incremented_form)
                        this.$nextTick(() => {
                            let total_forms = document.getElementsByName('form-TOTAL_FORMS').forEach
                            (function (ele, idx) {
                                ele.value = form_count
                            })
                        })
                    },

                    delForm: function () {
                        if (this.count != 0) {
                            this.count--
                            let form_count = this.count
                            form_count++

                            let formID = 'id_form-' + this.count
                            this.formList.pop()
                            this.$nextTick(() => {
                                let total_forms = document.getElementsByName('form-TOTAL_FORMS').forEach
                                (function (ele, idx) {
                                    ele.value = form_count
                                })
                            })
                        }
                        else return
                    },

                    formID: function () {
                        let formID = 'id_form-' + this.count
                        console.log(formID)
                        this.delForm()
                    },

                    add_rider_type: function () {
                        console.log('in the foo')
                        this.paypalItems.push({"name": ""})
                        console.log(this.paypalItems)
                    },

                    paymentAuthorized: function (data) {
                        console.log('The payment was approved, make the button available')
                        console.log(data);
                    },
                    paymentCompleted: function (data) {
                        console.log(data);
                    },
                    paymentCancelled: function (data) {
                        console.log('The payment was declined or cancled, please try again')
                        console.log(data);
                    },

                    select_change: function (e) {
                        var id = e.id
                        document.getElementById(id).onchange = function (e) {
                            console.log('Something happened')
                            totalCost()
                        }

                    }


                },


            mounted:

                function () {
                    let app = this

                    axios.post("{% url 'event_formset' %}",
                        {processData: false, contentType: false, event:'{{event}}'},
                        {
                            headers:
                                {
                                    'X-CSRFToken': '{{ csrf_token }}',
                                    'event': '{{ event }}',
                                }
                        }
                    )

                        .then(function (response) {
                            app.vue_form = response.data.formset.replace(/rider_class" /g, 'rider_class" oninput="select_change(this)"')
                            app.formList.push(app.vue_form)
                            app.riderCost = Number(response.data.reg_rider_cost)
                            app.escortCost = Number(response.data.escort_rider_cost)
                        })
                },

        })

    </script>
    <script>
        function select_change(e) {
            var id = e.id
            document.getElementById(id).onchange = function (e) {
                console.log('Something happened')
                app.totalCost()
            }

        }

    </script>

{% endblock %}

