{% extends 'base.html' %}
<head>
    <script src="https://unpkg.com/vue-paypal-checkout/dist/vue-paypal-checkout.min.js" async></script>
    {% load static %}

    {% block head %}
        <title>Upcoming Events</title>
    {% endblock %}
</head>
<body>
{% block body %}

    <div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-7">

                <h1>Events Page</h1>
            </div>
            <div class="col-md-5">
                <img src="{% static "events/lobos logo.png" %}">
            </div>
        </div>
    </div>
    <h1 style="text-align: center;">Upcoming Events</h1>

    {% for detail in events_details %}
        <div class="jumbotron row" style="margin: 0px 0px 50px 0px">
            <div class="col-md-6">

                {% if detail.12 > 0 %}
                    {% if detail.11 > 1 %}
                        <h2>{{ detail.11 }} Spots Remaining!</h2>
                    {% elif detail.11 == 1 %}
                        <h2>{{ detail.11 }} Spot Remaining!</h2>
                    {% else %}

                    {% endif %}
                {% endif %}
                <h3>{{ detail.6 }}</h3>
                <p>Date: {{ detail.2 }}</p>
                <p>Pre-entry: ${{ detail.7 }}</p>
                <p>Post-entry: ${{ detail.8 }}</p>
                <p>Escort Rider: ${{ detail.10 }}</p>
                <p>Entry closes {{ detail.9 }}</p>
                <p>Details: {{ detail.3 }}</p>

            </div>
            <div style="float: right; margin-top: auto; text-align: center" class="col-md-5">
                {% if detail.11 <= 0 %}
                    <h2>The race is sold out!</h2>
                {% elif detail.12 <= 0 %}
                    <h2>Race results coming soon</h2>
                {% elif detail.12 > 1 %}
                    <h2>{{ detail.12 }} Days Remaining!</h2>
                    <br>
                    <a class="btn btn-lg btn-primary" href="/event-registration/?event={{ detail.0 }}" role="button"
                       methods="GET">Register for {{ detail.0 }} {{ detail.1 }} now!</a>
                {% elif detail.12 == 1 %}
                    <h2>{{ detail.12 }} Day Remaining!</h2>
                    <br>
                    <a class="btn btn-lg btn-primary" href="/event-registration/?event={{ detail.0 }}" role="button"
                       methods="GET">Register for {{ detail.0 }} {{ detail.1 }} now!</a>
                {% endif %}
            </div>
            <div style="float: right; margin-top: 50px; text-align: center" class="col-md-5">
                <p>{{ detail.4 }}</p>
                <p>{{ detail.5 | safe }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
</div>

</body>
