{% extends 'base.html' %}
<head>
    {% block head %}
        <title>Upcoming Events</title>
    {% endblock %}
</head>
<body>

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Navbar example</h1>
            <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar
                work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>

        </div>
        <h1>Upcoming Events</h1>
        <h3>Make clickable upcoming events that take you to the registration page</h3>

        {% for name in name_date %}
        <p>
            <a class="btn btn-lg btn-primary" href="/event-registration/?event={{name.0}}" role="button" methods="GET">{{name.0}} {{ name.1 }}</a>
        </p>
       {% endfor %}
    </div>


{% endblock %}
<script>
    function get_event({{event}}) {


    }
</script>
</body>
