{% extends 'base.html' %}

{% block body %}
    <div class="container" style="background-color: #ffe673; padding: 15px; border-radius: 5px">
        <h1>Welcome!</h1>
        <h2>Login or <a href="/register/">Register Here</a></h2>
        <h4>Username is your first name, last name and email:</h4>
        <h4>Example: johnsmithjsmith@mail.com </h4>
        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken"
                   value="z2aYZrx8ByeEcLehQLHmDplusScfUJI0MWSEnSNJWWpkZN2kieBIGFfQ4979QwXS">
            <p><label for="id_username">Username:</label> <input oninput="this.value=this.value.toLowerCase()" type="text" name="username" autofocus="" required=""
                                                                 id="id_username"></p>
            <p><label for="id_password">Password:</label> <input type="password" name="password" required=""
                                                                 id="id_password"></p>
            <h4>Forgot your password? <a href="/password-reset/">Reset it here.</a></h4>
            <button class="btn btn-primary btn-lg " type="submit">Login</button>
        </form>
    </div>
    <br>
    <script>element.addEventListener('input',function(){this.value=this.value.toLowerCase()});​</script>
{% endblock %}