{% extends 'base.html' %}
{% load static %}

<head>
    {% block head %}

        <title>Lobos Merch</title>

        <link rel="stylesheet" href='{% static "events/merchStyle.css" %}' type="text/css">

        <script language="javascript" type="text/javascript">
            function isIE() {
                const ua = navigator.userAgent;
                /* MSIE used to detect old browsers and Trident used to newer ones*/
                const is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;

                return is_ie;
            }

            /* Create an alert to show if the browser is IE or not */
            if (isIE()) {
                alert('InternetExplorer is not supported for registration on this site.\nPlease use Chrome, Edge, Firefox or Safari.');
            }

            window.onload = isIE();
        </script>
        <script type='text/javascript'>
            var merch_json = {{ json_args|safe }};
        </script>
    {% endblock %}
</head>

{% block body %}
    <div id="app">
        <br>
        <div class="container">
            <div class="jumbotron">
                <h1>Lobos Merchandise</h1>
                <div class=barBreak></div>
                {% if args.merch.items %}
                    {% for key, value in args.merch.items %}
                        <div class="merchSection">
                            <div class="merchImage">
                                <h2>{{ value.0.merchandise_name }}</h2>
                                {% if value.0.item_image %}
                                    <img class="productImage" src="{% static value.0.item_image %}">
                                {% else %}
                                    <h3>No product image available</h3>
                                {% endif %}
                            </div>
                            <div class="description">
                                <h3>{{ value.0.description }}</h3>
                            </div>
                        </div>
                        <table>
                            <tbody>
                            <tr>
                                {# Selector item size #}
                                <td>
                                    <select id="select_{{ value.0.id }}" class="{{ value.0.id }}"
                                            @change="maxInput({{ value.0.id }})">
                                        <option value="none" selected disabled hidden>Choose Size</option>
                                        {% for size, qty in value.1.items %}
                                            {% if qty <= 0 %}
                                                <option disabled>[[sizeTextChange('{{ size }}')]] -
                                                    Sold Out
                                                </option>
                                            {% else %}
                                                <option value="{{ size }}">
                                                    [[sizeTextChange('{{ size }}')]] - {{ qty }} available
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                {# Price of item #}
                                <td>
                                    <h3>Price: {{ value.0.sale_price | floatformat:2 }}</h3>
                                </td>
                                {# Add to Cart Quantity #}
                                <td>
                                    <input id="input_{{ value.0.id }}" class="{{ value.0.id }}" type="number" step="1"
                                           min="1" max="" value="1" v-on:change="checkMaxinput({{ value.0.id }})">
                                </td>
                                {# Add to Cart Button #}
                                <td>
                                    <button id="addButton_{{ value.0.id }}" disabled class="btn btn-primary"
                                            v-on:click.prevent="add_to_cart({{ value.0.id }})">Add Item
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class=barBreak></div>
                    {% endfor %}

                    <div>
                        <div v-if="cartlist.length > 0">
                            <h3>Items in your cart:</h3>
                            <div v-for="(item, index) in cartlist">
                                <div class="flex-container">
                                    <div class="btn btn-primary" v-on:click='remove_from_cart(index)'>
                                        Remove Item
                                    </div>
                                    <div>
                                        <h4>[[item.quantity]] - [[item.description]] - [[item.name]]</h4>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div v-if="totalStr != '0.00'">
                                    <div>
                                        <h3>Items Total: [[itemPreShipping]]</h3>
                                    </div>
                                    <div>
                                        <h3>Shipping: [[total_shipping]]</h3>
                                    </div>
                                    <div>
                                        <h3>Total: [[totalStr]]</h3>
                                    </div>
                                </div>
                                <div v-else>
                                    <h3>Your Cart is Empty</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-warning" role="alert" v-show="payment_cancelled">The payment was canceled or
                        declined
                    </div>
                    <h2>Shipping Information:</h2>
                    <form method="POST" action="/merchandise/">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button id="submitButton" style="display: none">submit</button>
                    </form>
                    <h3 v-show="!shipping_complete" style="color: orangered">
                        Please fill out the shipping information form above
                    </h3>
                    <div v-if="cartlist.length > 0">
                    <div v-show="shipping_complete">
                        <div v-show="showPayPal">
                            <paypal-checkout
                                    :amount="totalStr"
                                    currency="USD"
                                    :button-style="aStyle"
                                    :client="paypal"
                                    :items="cartlist"
                                    env="production"
                                    :details="details"
                                    v-on:payment-authorized="paymentAuthorized"
                                    v-on:payment-completed="paymentCompleted"
                                    v-on:payment-cancelled="paymentCancelled">
                            </paypal-checkout>
                        </div>
                    </div>
                    </div>
                    <div class="whirlpool" v-show="!showPayPal" style="text-align: center">
                        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                                    r="30"></circle>
                        </svg>
                    </div>
                {% else %}
                    <h2>Sorry, No Lobos Merch Available</h2>
                    <h2>Check Back Later</h2>
                {% endif %}

            </div>
        </div>

    </div>
    <script src="https://unpkg.com/vue-paypal-checkout/dist/vue-paypal-checkout.min.js"></script>
    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: function () {
                return {
                    paypal: {
                        sandbox: 'Ab1Sz1kGg_pToL-VqcaNqUh1C4obLl11btkrD3nShf8FadP5sDn47sNiLVA7mHeWQKN9Fn14tMorYSag',
                        production: 'AS_Jx2PoYa86AlHKjRhEff5F5jE_EEZquzJ_uaqxQHEuhU2MtUilTqbGuBxHwDpQ8O_giK9r-LQDdx_h'
                    },
                    aStyle: {
                        label: 'checkout',
                        size: 'large',
                        shape: 'rect',
                        color: 'blue',
                        tagline: 'false'
                    },
                    merch_json: merch_json,
                    cartlist: [],
                    itemPreShipping: '',
                    totalStr: "",
                    details:
                        {
                            subtotal: "",
                            tax: "0.00",
                            shipping: "",
                            handling_fee: "0.00",
                            shipping_discount: "0.00",
                            insurance: "0.00"
                        },
                    showPayPal: true,
                    payment_cancelled: false,
                    paymentComplete: false,
                    total_shipping: '',
                    shipping_complete: false,
                    form: [{
                        first_name: '',
                        last_name: '',
                        address: '',
                        city: '',
                        state: '',
                        email: '',
                    }],
                }
            },
            methods: {
                checkMaxinput(itemId) {
                    qtyInput = document.getElementById('input_' + String(itemId)).value
                    inputMax = document.getElementById('input_' + String(itemId)).max
                    inputValue = document.getElementById('input_' + String(itemId)).value
                    if (inputValue > inputMax) {
                        qtyInput = inputMax
                    }
                },
                sizeTextChange(sizeString) {
                    return sizeString.toLowerCase().split('_').map(function (word) {
                        return word.replace(word[0], word[0].toUpperCase());
                    }).join(' ').replace(/Quantity Available/, '').replace(/x/g, 'X');
                },

                add_to_cart(itemId) {
                    let addToCartObj = {}
                    let item = 'item_' + itemId
                    let datas = document.getElementsByClassName(itemId)
                    let item_name = this.merch_json.merch[item][0]['merchandise_name']
                    let item_size_sku = datas[0].value
                    let item_size = this.sizeTextChange(datas[0].value)
                    let item_qty = datas[1].value
                    let price = Number(this.merch_json.merch[item][0]['sale_price'])
                    let item_shipping = item_qty * price * .03

                    addToCartObj.name = item_name
                    addToCartObj.description = item_size //size
                    addToCartObj.quantity = String(item_qty)
                    addToCartObj.price = price.toFixed(2)
                    addToCartObj.currency = 'USD'
                    addToCartObj.sku = String(itemId + ' ' + item_size_sku)
                    addToCartObj.shipping = item_shipping.toFixed(2)
                    this.cartlist.push(addToCartObj)
                    console.log(addToCartObj)
                },

                maxInput(itemId) {
                    const selectedSize = document.getElementById('select_' + itemId).value
                    let item = 'item_' + itemId
                    const inputField = document.getElementById('input_' + itemId)
                    inputField.max = app.merch_json.merch[item][1][selectedSize]
                    inputField.value = 1
                    document.getElementById('addButton_' + itemId).disabled = false
                },

                remove_from_cart(index) {
                    let count = 0
                    let merch_order = "", end
                    this.cartlist.splice(index, 1)
                    for (i in this.cartlist) {
                        merch_order += String(Object.values(this.cartlist[count])) + "\n"
                        count += 1
                    }
                },

                paymentAuthorized(data) {
                    this.showPayPal = false
                },

                paymentCompleted(data) {
                    const order_data = JSON.stringify(data)
                    document.getElementById('order_data').value = order_data
                    this.paymentComplete = true
                },

                paymentCancelled(data) {
                    this.payment_cancelled = true
                    this.showPayPal = true
                },

            },
            watch: {
                form() {
                    if (Object.keys(this.form).length === 8) {
                        this.shipping_complete = true
                    }
                },
                paymentComplete() {
                    document.getElementById('submitButton').click()
                },

                cartlist() {
                    let item_total = 0
                    let shipping = 0

                    for (let item in this.cartlist) {
                        let price = this.cartlist[item].price
                        let qty = this.cartlist[item].quantity
                        let shipping_cost = this.cartlist[item].shipping
                        shipping += Number(shipping_cost)
                        item_total += Number(price) * Number(qty)
                    }

                    final_total = shipping + item_total
                    this.total_shipping = shipping.toFixed(2)
                    this.details.shipping = shipping.toFixed(2)
                    this.totalStr = (final_total).toFixed(2)
                    this.details.subtotal = item_total.toFixed(2)
                    this.itemPreShipping = (Number(this.totalStr) - Number(this.total_shipping)).toFixed(2)
                },
            },
        });
    </script>
{% endblock %}