{% extends 'base.html' %}
<head>
    <!-- jQuery for PayPal -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    {% block head %}
        <title>Lobos Merch</title>
        <script language="javascript" type="text/javascript">
            function isIE() {
                const ua = navigator.userAgent;
                /* MSIE used to detect old browsers and Trident used to newer ones*/
                const is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;

                return is_ie;
            }

            /* Create an alert to show if the browser is IE or not */
            if (isIE()) {
                alert('InternetExplorer is not supported for registration on this site.\nPlease use Chrome, Edge, Firefox or Safari.');
            }

            window.onload = isIE();
        </script>

    {% endblock %}
</head>


{% block body %}
    <div class="container" style="background-color: #ffe673; padding: 15px; border-radius: 5px">
        {{ args.values }}

<!--
    add to cart:
        2 xs shirt
            click add to cart (must
                check if xs shirt has qty of 2 available
                 if yes:
                    store the merch item id, size, quantity
                 else:
                    state the available qty

    remove from cart
-->





        <form action="/merchandise/" method="post">
            {% csrf_token %}
            {% for field in args.form %}
                <div class="fieldWrapper">
                    {{ field.label_tag }} {{ field }} {{ field.errors }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>


    </div>
{% endblock %}