{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}
    <div class="container" style="padding: 15px; border-radius: 5px">
        <h1>Edit Profile</h1>
        {% if errors %}
            <div class="alert alert-danger">{{ errors }}</div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary btn-lg " type="submit">Submit</button>
        </form>

    </div>
    <br>

{% endblock %}