{% extends 'base.html' %}

{% block body %}
    <div class="container" style="background-color: #ffe673; padding: 15px; border-radius: 5px">
        <h1>Register</h1>
        <h3>Your new username and password will be emailed to you.</h3>
        <h3>Your username will be you first and last name plus your email.</h3>
        <h3>Minimum Required Information:</h3>
        <ul>
            <li>Email</li>
            <li>First Name</li>
            <li>Last Name</li>
            <li>Password</li>
        </ul>
        {% if uniqueNameErrors %}
            <div class="alert alert-danger">{{ uniqueNameErrors|safe }}</div>
        {% endif %}
        {% if errors %}
            <h4 style="text-align: center" class="alert alert-danger"> Please correct the errors below</h4>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>{{ field.label_tag|title }}</div>

                {% if errors %}
                    {% for error in field.errors %}
                        <h3 style="color: red">{{ error|escape }}</h3>
                    {% endfor %}
                {% endif %}
                <div> {{ field }}</div>

                {% if field.help_text %}
                    <p>{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
            <button class="btn btn-primary btn-lg" type="submit">Register</button>
        </form>
    </div>
    <br>

{% endblock %}