{% extends 'base.html' %}

{% block body %}
    <div class="container" style="background-color: #ffe673; padding: 15px; border-radius: 5px">
        <h1>Register</h1>
        <h3>Your new username and password will be emailed to you.</h3>
        <h3>Your username will be you first and last name plus your email.</h3>
        <h3>Minimum Required Information:</h3>
        <ul>
            <li>Email</li>
            <li>First Name</li>
            <li>Last Name</li>
            <li>Password</li>
        </ul>
        {% if errors %}
            <div class="alert alert-danger">{{ errors|safe }}</div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary btn-lg" type="submit">Register</button>
        </form>
    </div>
    <br>

{% endblock %}