{% extends 'base.html' %}
{% load static %}

<head>
    {% block head %}

        <title>Registration Check</title>

        <link rel="stylesheet" href='{% static "events/merchStyle.css" %}' type="text/css">
        <script>
            const check_fields = () => {
                first_name = document.getElementById('id_first_name').value
                last_name = document.getElementById('id_last_name').value
                confirmationNumber = document.getElementById('id_confirmationNumber').value
                console.log(first_name, last_name, confirmationNumber)
            }
        </script>

    {% endblock %}
</head>

{% block body %}
    <div class="container">
        <div class="jumbotron" style="padding: 15px; border-radius: 5px">
            <h2>Check if you are registered for an upcoming event.</h2>
            {% if args.name %}
                    <div class="transition_fade">
                        <h3> {{ args.name | title }} {{ args.event }} </h3>
                    </div>
            {% endif %}
            <form method="POST" action="/registration_check/">
                {% csrf_token %}
                <div>
                    <h3>Enter your {{ form.first_name.label.lower }} and {{ form.last_name.label.lower }}</h3>
                    <div class="flex-check-container">
                        <div>
                            <h4 class="label">{{ form.first_name.label }}</h4>
                            <div>{{ form.first_name }}</div>
                        </div>
                        <div>
                            <h4 class="label">{{ form.last_name.label }}</h4>
                            <div>{{ form.last_name }}</div>
                        </div>
                    </div>
                </div>
                <h2>OR</h2>
                <div>
                    <h3>Enter your {{ form.confirmationNumber.label.lower }}</h3>
                    <div class="flex-check-container">
                        <div>
                            <h4 class="label">{{ form.confirmationNumber.label }}</h4>
                            <div>{{ form.confirmationNumber }}</div>
                        </div>
                    </div>
                </div>
                <button class="btn-primary btn-lg">submit</button>
            </form>
        </div>
    </div>
{% endblock %}


