table {
    font-family: arial, sans-serif;
    width: 100%;
    text-align: center;
    margin: auto;
}

tr {
    text-align: center;
    margin: auto;
    width: 100%;
}

td {
    width: 100px;
    height: 120px;
    text-align: center;
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
}

select, input {
    height: 35px;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.merchTable {
    background-color: #ffe673;
    padding: 15px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron {
    padding: 10px;
    text-align: center;
    color: #000;
}

.barBreak {
    background-color: #ffe673;
    height: 5px;
    margin: 10px;
}

.transition_fade {
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.productImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.merchSection {
    display: flex;
    margin: 20px;
}

.merchSection, h2 {
    margin: 10px;
}

label {
    color: #f1f1f1;
}

.merchImage {
    flex: 0 0 75%;
    padding: 10px;

}

.description {
    flex: 1;
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 5px;
}

.flex-container {
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px
}

.flex-container > div {
    margin: 10px;
}

.flex-check-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px
}

.flex-check-container > div {
    margin: 2px;
    width: 50%;
}

.flex-check-container > h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

