body {
    background-color: #dedede;
}

.jumbotron {
    color: #333;
    background-color: #ffe673;
    padding: 20px;
}

.navbar {
    background-color: #ffe673;
    color: #333;
}

.nav.navbar-nav li a {
    color: #333;
}

.navbar-brand li a {
    color: #333;
}

label {
    font-size: 20px;
}

input, select {
    font-size: 20px;
    width: 100%;

}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.header {
    background: #dedede;
    color: #333;
    z-index: 1;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;

}
.margin_100 {
    margin-top: 100px;

}
