body {
    background-color: #dedede;
}

.jumbotron {
    color: #333;
    background-color: #ffe673;

}

.navbar {
    background-color: #ffe673;
    color: #333;
}

.nav.navbar-nav li a {
    color: #333;
}

.navbar-brand li a {
    color: #333;
}

label {
    font-size: 20px;
}

input, select {
    font-size: 20px;
    width: 100%;

}