{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body {
            background: url('{% static "events/bgimages/6.jpg" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <link rel="shortcut icon" href='{% static "events/favicon.ico" %}' type="image/x-icon" />
    {#Bootstrap CDN#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {#fontawsome CDN#}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    {# Vue.js CDN #}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    {# Axios CDN #}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js'></script>

    {# static files #}
    <link rel="stylesheet" href='{% static "events/style.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "events/JS.js" %}' type="text/css">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109842707-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-109842707-2');
    </script>

    {% block head %}
        <title>Base</title>
    {% endblock %}
</head>
<body>
<br>
<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="text-dark">

                {% with url_name=request.resolver_match.url_name %}
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav nav-pills">
                            <li><a href="/"><strong>Home</strong></a></li>
                            <li class="nav-item {% if url_name == 'home' %}myactive{% endif %}"><a href="/">Upcoming
                                Events</a></li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item {% if url_name == 'profile' %}myactive{% endif %}"><a href="/profile">Profile</a>
                            </li>
                            <li class="nav-item {% if url_name == 'edit_profile' %}myactive{% endif %}"><a
                                    href="/profile/edit">Edit Profile</a></li>
                            <li class="nav-item {% if url_name == 'logout' %}myactive{% endif %}"><a href="/logout">Logout</a>
                            </li>
                            <li><a class="navbar-brand"><strong>Welcome {{ request.user.first_name }}!</strong></a></li>
                        </ul>

                    {% else %}

                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li class="nav-item {% if url_name == 'home' %}myactive{% endif %}"><a href="/">Upcoming
                                Events</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item {% if url_name == 'password_reset' %}myactive{% endif %}"><a
                                    href="/password-reset">Reset Password</a></li>
                            <li class="nav-item {% if url_name == 'register' %}myactive{% endif %}"><a href="/register">Register</a>
                            </li>
                            <li class="nav-item {% if url_name == 'login' %}myactive{% endif %}"><a
                                    href="/login">login</a></li>
                        </ul>
                    {% endif %}
                {% endwith %}


            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>

{% block body %}
    <h1>Base</h1>

{% endblock %}

</body>
</html>